#questionbar {
    background-color: #bbb;
    min-height: 30vw;
    min-width: 60vw;
}

#affirmativeresponse {
    background-color: #ddd;
    min-width: 30vw;
    min-height: 30vw;
}

#negativeresponse {
    background-color: #ccc;
    min-width: 30vw;
    min-height: 30vw;
}

#hidden {
  display: none;
}

#abbreviation {
  font-size: 30vw;
}

body {
  text-align: center;
}


/* CSS for "plash page" */
#splash {
  text-align: left;

}

#logo {
  display: inline;
}

#splash h1 {

}

#splash h2 {

}

#splash h3 {

}

#getname {
  text-align: center;
}

label {
  display: block;
  margin: auto;
}

input {
  display: block;
  margin: auto;
}
